llama-index
llama-index-readers-microsoft-onedrive
qdrant-client
fastapi
uvicorn[all]
aiohttp
loguru
requests
dotenv
python-dotenv
openpyxl
docx2txt
fastembed
qdrant_client
llama-index-vector-stores-qdrant
llama-index-readers-file
llama-index-embeddings-fastembed 
llama-index-llms-openai
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-llms-deepseek
redis>=5.0.0

# for pptx reader
# torch
# transformers
# python-pptx
# Pillow
