VERSION=0.2.3
COMPOSE_BAKE=true
NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=onlysaid-psqldb
PGDATABASE=postgres
PGPORT=5432

# google auth
# https://console.cloud.google.com/apis/dashboard
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# github auth
GITHUB_ID=
GITHUB_SECRET=

NEXTAUTH_URL="http://onlysaid-dev.com"
NEXTAUTH_SECRET=

CLIENT_URL=http://onlysaid-app:3000
REDIS_HOST=redis-node-5
REDIS_PORT=6379
REDIS_PASSWORD=bitnami

OPENAI_API_KEY=
OPENAI_API_BASE_URL=